<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-10 login">
      <div class="row">
        <div class="col-sm-6 left-side">
        </div>
        <div class="col-sm-6 p-5 right-side">
          <h2 class="mb-3">Let's get started!</h2>
          <%= render :partial => "devise/registrations/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
