<div id="about">
  <section class="stay-tuned bg-gray">
    <div class="container-fluid pl-5 pr-5">
      <div class="row">
        <div class="col-lg-6">
          <span class="text-blue">Stay Tuned Everywhere You Go!</span>
        </div>
        <div class="col-lg-6 stay-tuned-img">
      </div>
    </div>
  </section>

  <section class="around-world">
    <div class="container-fluid pl-5 pr-5">
      <div class="row">
        <div class="col-lg-6 world-img"></div>
        <div class="col-lg-6">
          <span class="text-blue">Events All Around The World</span>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray">
    <div class="container-fluid pl-5 pr-5">
      <div class="our-app">
        <h1>lalalaa</h1>
      </div>
    </div>
  </section>
</div>



<section id="content">
  <div class="container-fluid">

    <div class="row">

    </div>

    <div class="row our_app">

    </div>
  </div>
</section>
