<div id="about">
  <section class="around-world bg-gray">
    <div class="container-fluid pl-5 pr-5">
      <div class="row">
        <div class="col-lg-6 world-img"></div>
        <div class="col-lg-6">
          <div class="text-blue">Events All Around The World</div>
        </div>
      </div>
    </div>
  </section>

  <section class="stay-tuned">
    <div class="container-fluid pl-5 pr-5">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-blue ml-5">Stay Tuned Everywhere You Go!</div>
        </div>
        <div class="col-lg-6 stay-tuned-img">
      </div>
    </div>
  </section>

  <!-- <section class="bg-gray">
    <div class="container-fluid pl-5 pr-5">
      <div class="our-app">
        <h1>lalalaa</h1>
      </div>
    </div>
  </section> -->
</div>
