<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-5 p-5 login text-center">
      <h1 class="mb-5">Go join!</h1>
      <%= render :partial => "devise/sessions/form" %>
    </div>
  </div>
</div>
