<div class="container-fluid container-login">
  <div class="row justify-content-center">
    <div class="col-sm-4 p-5 background-login text-center">
      <h1 class="mb-5">Go join!</h1>
      <%= render :partial => "devise/sessions/form" %>
    </div>
  </div>
</div>
