<header>
  <nav class="nav-menu">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="float-left">
            <h2><%= link_to "WannaJoin?", root_path, class: "text-black" %></h2>
          </div>
          <div class="float-right">
            <%= render :partial => "layouts/links" %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="looking-for">
        <h1>Lorem ipsum dolor <br/> consectetur adipiscing elit</h1>
      </div>

      <div class="col-sm-12">
        <%= render :partial => "layouts/search_bar" %>
      </div>
    </div>
  </nav>
</header>
