<header>
  <nav class="nav-menu">
    <div class="container">
      <div class="row">
          <div class="col-sm-5">
            <h2><%= link_to "WannaJoin?", root_path, class: "text-black" %></h2>
          </div>
          <div class="col-sm-3">
            <div class="float-right mt-3">
              <%= image_tag "location-icon.png", class: "mr-1" %>Your Location
            </div>
          </div>
          <div class="col-sm-4">
            <div class="float-right mt-2">
              <%= render :partial => "layouts/links" %>
            </div>
          </div>
          <div class="clearfix"></div>
      </div>
    </div>
  </nav>
</header>
