<form class="search">
  <div class="form-group">
    <div class="row">
      <input class="form-control search col-sm-9" type="text" placeholder="What are you looking for?" aria-label="search bar">
      <input id="current-location" class="col-sm-1" type="submit" value="search">
    </div>
  </div>
</form>
