<form class="search">
  <div class="form-group">
    <div class="row">
      <input class="form-control search col-sm-7" type="text" placeholder="What are you looking for?" aria-label="search bar">

      <div class="form-control col-sm-4"><%= image_tag "location-icon.png", class: "mr-1" %>Your Location</div>

      <input class="col-sm-1" type="submit" value="search">
    </div>
  </div>
</form>
